/datasets
/clustering/.idea
/clustering/041Clustering_Introduction.ipynb
/clustering/042Clustering_Distributed.ipynb
/clustering/043Clustering_Density.ipynb
/clustering/044Clustering_Hierarchical.ipynb
/clustering/045Clustering_Quality.ipynb
/clustering/046Clustering_Segmentation.ipynb
/clustering/tree_agg.png
/clustering/tree_diana.png
/linear/021_Linear_Regression.ipynb
/linear/022_Logistic_Regression.ipynb
/linear/024_Fisher_classsifier.ipynb
/linear/.idea
/trees/.idea
/trees/051Decision_trees_Introduction.ipynb
/trees/052Decision_trees_Univariate.ipynb
/trees/053Decision_trees_Multivariate.ipynb
/trees/054Decision_trees_Quality.ipynb
/trees/*.png
/ensemble/.idea
/ensemble/071Ensemble_Introduction.ipynb
/ensemble/072Ensemble_Bagging.ipynb
/ensemble/073Ensemble_Boosting.ipynb
/ensemble/074Ensemble_Stacking.ipynb
/svm/.idea
/svm/061_SVM_Introduction.ipynb
/svm/062_SVM_C.ipynb
/svm/063_SVM_Kernels.ipynb
/.idea
/nlp/.idea
/nlp/101_NLP_Introduction.ipynb
/nlp/102_NLP_Text_Processing.ipynb
/nlp/103_NLP_Text_Understanding.ipynb
/nlp/104_NLP_Text_Generation.ipynb
/nlp/105_NLP_Quality.ipynb
/nlp/trumpp.txt
